<%-contentFor('hero')%>


<form method="POST" action="/successMoney">

<div id="login1">
<h1><span id="heading1">Card Details</h1>
<table id="tab">
<tr>
<td>Card number:</td>
<td><input type="number" id = "uname" name = "cardNumber" required></td>
</tr>
<tr>
<td>CVV:</td>
<td><input type="number" id = "uname" name = "CVV" required></td>
</tr>
<tr>
<td>Name on card:</td>
<td><input type="text" id = "uname" name = "description" required></td>
</tr>
<tr>
<td>Date of expiry:</td>
<td><select id="un">
	<option value="01">01</option>
	<option value="02">02</option>
	<option value="03">03</option>
	<option value="04">04</option>
	<option value="05">05</option>
	<option value="06">06</option>
	<option value="07">07</option>
	<option value="08">08</option>
	<option value="09">09</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
</select>
<select id="un">
	<option value="2017">2017</option>
	<option value="2018">2018</option>
	<option value="2019">2019</option>
	<option value="2020">2020</option>
	<option value="2021">2021</option>
	<option value="2022">2022</option>
	<option value="2023">2023</option>
	
</select></td>
</tr>
<tr>
<td></td>
<td><input type="submit" id = "lgnBTN"></td>
</tr>
</table>
</form>

</div>
<footer>
	
</footer>
</body>
</html>
