<%-contentFor('hero')%>
<div id="login1">
	<form method="POST" action="/forgotpassword">
	<h1><span id="heading3">Forgot Password?</h1>
		<span id="error"><%= fpmessage %></span>
		<input type="email" name="forgotmail" id="uname" placeholder="Email" required><br>
		<input type="submit" value="submit" id="lgnBTN">
	</form>
</div>