<%-contentFor('hero')%>

<form method="POST" action="/addSuccessStories">

<div id="login1">
<h1><span id="heading1">Add Success Story</h1>
<table>
<tr>
<td>Title:</td>
<td><input type="text" id = "uname" name = "title"></td>
</tr>
<tr>
<td>Description(2 lines):</td>
<td><input type="text" id = "uname" name = "description"></td>
</tr>
<tr>
<tr>
<td>Image:</td>
<td><input type="file" id = "uname" name = "image"></td>
</tr>
<tr>
<td>About:</td>
<td><textarea rows="10" cols="50" name="about">

</textarea></td>
</tr>
<tr>
<td></td>
<td><input type="submit" id = "lgnBTN"></td>
</tr>
</table>
</form>

</div>

<footer>
  
</footer>
</body>
</html>