<%-contentFor('hero')%>
<div id="faq">
<h1>Frequently asked quetions</h1>
<ol>
<% for(var i=0;i<faqArray.length;i++){ %>

<h3><li><%= faqArray[i].question%></li></h3>

<%= faqArray[i].answer%>
<%}%>
</ol>
</div>