<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<%-contentFor('hero')%>
        <div id="asd">
            <h1 id="quote">We make a living by what we get but we make a life by what we give</h1>
            
        </div>
        <div id="ab">
            <div id="about">
            Crowdfunding is the practice of funding a project or venture by raising monetary contributions from a large number of people. Crowdfunding can replace the need for specialized grant applications or other more formal and traditional fundraising techniques with that of a more casual, yet powerful, approach based on crowd participation. However, the Internet can provide new streamlined approaches to quickly imitating the co-op model for low-level and/or sudden needs (ie. disaster relief, travel expenses, legal fees and so on.). It is this reason that a term be used to encompass the act of informally generating and distributing funds, usually online, by groups of people for specific social, personal, entertainment or other purposes.
            </div>
            <div id="csimg">
                <img src="images/crowdfunding.jpg" id="cfimg" align="right">
            </div>
        
        </div>
        <br>
        <hr>
        
        <div id="side" >
        <h2>Top Projects</h2>
        
            <div id="left">
              <img src="images/images.jpg" width="100%" height="35%" alt="img" border-radius=7px><br>
                <a href="/">Saving pandas</a>
            </div>
            <div id="center">
               <img src="images/a.jpg" width="100%" height="35%"  alt="img">
                <br>text
            </div>
            <div id="right">
               <img src="images/download.jpg" width="100%" height="35%"  alt="img">
                
                <br>
            </div>
            <a href="/register" >View All</a>
            
        </div><br><br><br><br><br><br>
<hr>


        <div id="down">
            <h2>Success Stories</h2>
            <div id="sidetop1"></div>
            <div id="top1">a</div>
            <div id="sidetop2"></div>
            <div id="top2">b</div>
            <div id="sidetop3"></div>
            <div id="top3">c</div>
            
        </div>
        <hr>


