
<%-contentFor('hero')%>
<section class = "hero">
<form method = "POST" action="/jobSearch">
<input type="text" name="jobs" placeholder="jobs">
<input type="text" name="place" placeholder="place">
<input type="submit" value="Submit">
</form>
</section>
<%= searchresults%> 
<% for(var i = 0;i<jobsArray.length;i++){%>
<fieldset>
<li><%= jobsArray[i].description%></li>
</fieldset>
<%}%>
