<%-contentFor('hero')%>
<div id="login1">
<form method="POST" action="/register">

<h1><span id="heading">Register</h1>
<span id="error"><%= alreadyMessage %></span>
	<input type="text" name="username" id="uname" placeholder="Name">
	<input type="text" name = "email" id="uname" placeholder="Email">
	<input type="Password" name="password" id="uname" placeholder="Password">
	<input type="Password" name="password" id="uname" placeholder="Re-enter Password">
	
<input type="submit" value="Register" id="lgnBTN">
</form>

<span id="heading">Have an account? </span><br> <a href="/login" id="heading2">Log In</a>
</div>