<%-contentFor('hero')%>

<div id="success">
<h2>Your project is in pending stage, Administrator should approve your project.</h2><br>
<br>
<a href="/userHome?category=arts" id="fp">Back to home</a>
</div>


<footer>
	
</footer>
</body>
</html>
