<%-contentFor('hero')%>
<div id="des">
<center><h1><%=storiesdescr[storiesdescr.length-1].title%></h1></center><br>
<div id = "topdesc">

<img src="images/<%=storiesdescr[storiesdescr.length-1].image%>" id="descimg" >


</div>
<hr>
<p  style="text-align:justify">
<h1>About:</h1>
<%=storiesdescr[storiesdescr.length-1].about%>

</p>


</div>