
<%-contentFor('hero')%>

<div id="success">
<h2 id="cen">Success story added successfully</h2>
<a href="/addSuccessStories" id="cent">Back to adding success stories</a>
</div>

<footer>
  
</footer>
</body>
</html>